html {
    background-image: url("../img/ignasi_pattern_s.png");
}

*:focus {
    outline: none;
}

body {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

p {
  font-size: 130%;
}

.bandereau {
    width:960px;
    height:200px;
    background-image:url("../img/bandereau.png");
    margin-bottom: 20px;
    margin-top: 10px;
}

.presentation {
    width:630px;
    height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.aside {
    width:270px;
    height: 500px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #1c1a19;
}

.container {
}

.youtube {
    width:600px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer {
    margin-bottom: 20px;
}

.aside_title {
    color: #82D502;
}

.vignette {
    border-radius: 7px;
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.vignette:hover {
    opacity: 0.7;
}

.photos {
    width: 865px;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1; /* Sit on top */
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.9);
}

.modal-content {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 550px;
}

#caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   font-size: 150%;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

.modal-content, #caption {
   animation-name: zoom;
   animation-duration: 0.6s;
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

.close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 100px;
   font-weight: bold;
   transition: 0.3s;
}

.close:hover, .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

@media only screen and (max-width: 700px){
   .modal-content {
       width: 100%;
   }
}

.select_type {
    margin-top: 20px;
}

.tables {
    width: 700px;
}

.table {
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px #1c1a19;
}

.table td {
    padding: 8px;
    border: 1px solid #ffffff;
    background-color: lightgray;
    font-size: 25px;
}

.table tbody tr:hover td {
    background-color: lightskyblue;
}

.table thead td {
    background-color: #333333;
    color: white;
}

.map_frame {
    width: 600px;
}