<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style_common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}" />
        <title>La Griffardière</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}"><div id="bandereau"></div></a>
            </div>
        <nav>
            <ul>
                <li class="item_1"><a href="{{ url_for('index') }}">ACCUEIL</a></li>
                <li class="item_2"><a href="{{ url_for('photos') }}">PHOTOS</a></li>
                <li class="item_3"><a href="{{ url_for('produits') }}">PRODUITS</a></li>
                <li class="item_4"><a href="{{ url_for('contact') }}">CONTACT/PLAN</a></li>
            </ul>
        </nav>
        </header>
        <section>
            <article>
                <p class="p_article">Sur l'île de Noirmoutier, on trouve de nombreuses spécialités telles que les pommes de terre, les huîtres, mais aussi le sel.</p>
                <p class="p_article">Connu sous le nom "sel de Noirmoutier, ce dernier est recolté depuis des siecles.</p>
                <p class="p_article">Il y a le gros sel,qui se forme à 300g de sel par litre, sa récolte se fait au coeur des oeillets à l'aide d'une ételle, elle peut avoir lieu avant ou après la ramasse de la fleur de sel.</p>
                <iframe width="600" height="337" src="https://www.youtube.com/embed/COiUIfXV96w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p class="p_article"> Rare et raffinéé, la fleur de sel se forme en surface, de 250 à 300g de sel par litre d'eau. Elle est le produit très attendu par le saunier. La production est de 10% par rapport au gros sel.Seules quelques tonnes sont produites au cours d'une saison. Pour cela, elle est très prisée par les consommateurs. </p>
                <p class="p_article">Depuis une quarentaine d'années le nombre de marais salants en activité à Noirmoutier a augmenté. Grâce à cette hausse d'activité, nous pouvons aujourd'hui conserver la notoriété que la "fleur de sel de Noirmoutier" a su gagner au cours des dernières années.</p>
            </article>
            <aside>
                <h3>Qui sommes nous ?</h3>
                <img class="img_aaa" src="{{ url_for('static', filename='img/alexis.jpg') }}" alt="" id="portrait" />
                <p class="p_aside">Entreprise Dupont, installé depuis 2010.</p>
                <p class="p_aside">Producteur de sel, fleur de sel, sel fin. Mais aussi de la salicorne et tout autre chose.</p>
            </aside>
            </section>
        <footer>© La Griffardière</footer>
    </body>
</html>
