<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style_common.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style_photos.css') }}" />
        <title>La Griffardière</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('index') }}"><div id="bandereau"></div></a>
            <nav>
                <ul>
                    <li class="item_1"><a href="{{ url_for('index') }}">ACCUEIL</a></li>
                    <li class="item_2"><a href="{{ url_for('photos') }}">PHOTOS</a></li>
                    <li class="item_3"><a href="{{ url_for('produits') }}">PRODUITS</a></li>
                    <li class="item_4"><a href="{{ url_for('contact') }}">CONTACT/PLAN</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Le marais en photos</h1>
            <div class="photos">
                <div id="modal" class="modal">
                  <span class="close">&times;</span>
                  <img class="modal-content" id="modalImg">
                  <div id="caption"></div>
                </div>
                <img class="vignette" id="img1" alt="production" src="{{ url_for('static', filename='img/production/1.png') }}"/>
                <img class="vignette" id="img2" alt="production" src="{{ url_for('static', filename='img/production/2.png') }}"/>
                <img class="vignette" id="img3" alt="production" src="{{ url_for('static', filename='img/production/3.png') }}"/>
                <img class="vignette" id="img4" alt="production" src="{{ url_for('static', filename='img/production/4.png') }}"/>
                <img class="vignette" id="img5" alt="production" src="{{ url_for('static', filename='img/production/5.png') }}"/>
                <img class="vignette" id="img6" alt="production" src="{{ url_for('static', filename='img/production/6.png') }}"/>
                <img class="vignette" id="img7" alt="production" src="{{ url_for('static', filename='img/production/7.png') }}"/>
                <img class="vignette" id="img8" alt="nettoyage" src="{{ url_for('static', filename='img/nettoyage/1.png') }}"/>
                <img class="vignette" id="img9" alt="nettoyage" src="{{ url_for('static', filename='img/nettoyage/2.png') }}"/>
                <img class="vignette" id="img10" alt="nettoyage" src="{{ url_for('static', filename='img/nettoyage/3.png') }}"/>
            </div>
        </section>
        <footer>© La Griffardière</footer>
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    </body>
</html>
