.table {
    font-size: 18px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px #1c1a19;
}

.table td {
    padding: 8px;
    border: 1px solid #ffffff;
    background-color: lightgray;
    font-size: 25px;
}

.table tbody tr:hover td {
    background-color: lightskyblue;
}

.table thead td {
    background-color: #333333;
    color: white;
}

section nav ul {
	padding:0px;
	margin-top:10px;
	list-style-type:none;
	background-color: lightgray;
    box-shadow: 0px 2px 5px black;
    border-radius: 3px;
	width : 960px;
	height : 30px;
	margin-bottom:50px;
	font-size:18px;
}

section nav .item_1_1 {
	display:inline-block;
	width:140px;
	height:30px;
	margin:0px;
	padding:0px;
	border-right:1px solid gray;
	text-align:center;
	line-height:30px;
	float:left;
}

section nav .item_1_2 {
	display:inline-block;
	width:160px;
	height:30px;
	margin:0px;
	padding:0px;
	border-right:1px solid gray;
	text-align:center;
	line-height:30px;
	float:left;
}

section nav .item_1_3 {
	display:inline-block;
	width:130px;
	height:30px;
	margin:0px;
	padding:0px;
	border-right:1px solid gray;
	text-align:center;
	line-height:30px;
	float:left;
}

section nav li :hover {
	background-color: gray;
    box-shadow: 0px 2px 5px gray;
	font-size:20px;
}

section nav li a {
	display:block;
	text-decoration:none;
	color: black;
}